@import './fonts.css';
@import './palette.css';

html {
  width: 100%;
  height: 100%;
  overflow: hidden;

  --frame: 20px;

  --font-size: 1rem;
  --line-height: 1.375rem;
}

@media all and (min-width: 900px) {
  html {
    --frame: 40px;
  }
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

  background: var(--gray-1);

  color: var(--gray-9);
  font-family: var(--sans-serif);
  font-size: 16px;
}

::selection {
  background: var(--secondary-color);
  color: var(--gray-1);
  -webkit-text-fill-color: var(--gray-1);
}

/* DRAG AREA */

body.dragArea main {
  filter: blur(8px) opacity(75%);
}

body.dragArea::after {
  position: fixed;
  left: var(--frame);
  top: var(--frame);
  width: calc(100vw - calc(var(--frame) * 2));
  height: calc(100vh - calc(var(--frame) * 2));

  background: rgba(255, 255, 255, 0.1);
  border: dashed 2px var(--secondary-color-6);

  color: var(--secondary-color-7);
  content: 'Drop your pics here...';
  font-family: var(--monospace);
  font-size: 2rem;
  font-weight: 700;
  line-height: 80vh;
  text-align: center;
}
