<script lang="ts">
  import { onMount } from 'svelte';
  import type { RectangleDimensions } from '../main';
  import type { CustomCanvas } from '../types';

  export let dimensions: RectangleDimensions;
  export let background: HTMLImageElement;
  export let logo: HTMLImageElement;
  export let title: string;
  export let titleColor: string;

  const downloadLink = document.createElement('a');
  let canvas: HTMLCanvasElement;
  let context: CanvasRenderingContext2D;

  function drawBackground() {
    // only works if (background.height:background.width) >= (rectangle.height:rectangle.width)

    const scaledRectangleHeight = (dimensions.height / dimensions.width) * background.width;
    const yOffset = (background.height - scaledRectangleHeight) / 2;

    context.drawImage(
      background,
      0,
      yOffset,
      background.width,
      scaledRectangleHeight,
      0,
      0,
      dimensions.width,
      dimensions.height,
    );
  }

  function drawTitle() {
    const x = dimensions.width / 2; // center vertically
    const y = dimensions.height - 128; // hard code margin bottom

    context.fillStyle = titleColor;
    context.fillText(title, x, y);
  }

  function drawLogo() {
    const x = (dimensions.width - dimensions.logoSize) / 2; // center the logo
    const y = (dimensions.height - dimensions.logoSize) / 2; // center the logo

    context.drawImage(logo, x, y, dimensions.logoSize, dimensions.logoSize);
  }

  export const callbacks: CustomCanvas = {
    redraw() {
      setTimeout(() => {
        context.clearRect(0, 0, dimensions.width, dimensions.height);
        drawBackground();
        drawTitle();
        drawLogo();
      }, 300);
    },
    export(name: string, type: string) {
      downloadLink.download = name;
      downloadLink.href = canvas.toDataURL(type);
      downloadLink.click();
    },
  };

  onMount(() => {
    context = canvas.getContext('2d');
    context.font = '600 48px "Montserrat", sans-serif';
    context.textAlign = 'center';
    context.shadowColor = '#0000004d';
    context.shadowBlur = 12;
  });
</script>

<canvas bind:this={canvas} height={dimensions.height} width={dimensions.width} />

<style>
  canvas {
    height: 100vw;

    background-color: transparent;
    background-image: linear-gradient(
      45deg,
      var(--gray-3) 2.5%,
      transparent 2.5%,
      transparent 47.5%,
      var(--gray-3) 47.5%,
      var(--gray-3) 52.5%,
      transparent 52.5%,
      transparent 97.5%,
      var(--gray-3) 97.5%
    );
    background-size: 1rem 0.5rem;
    background-position: 0 0;

    scroll-snap-align: center;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 0.2s;
  }

  @media all and (min-width: 900px) {
    canvas {
      height: auto;
      width: 100%;
    }
  }
</style>
