<script lang="ts">
  import { onMount } from 'svelte';
  import type { CustomCanvas } from '../types';

  export let framed = false;
  export let size: number;
  export let logo: HTMLImageElement;

  const downloadLink = document.createElement('a');
  let canvas: HTMLCanvasElement;
  let context: CanvasRenderingContext2D;

  function drawLogo() {
    if (framed) {
      context.drawImage(logo, 0.1 * size, 0.1 * size, 0.8 * size, 0.8 * size);
    } else {
      context.drawImage(logo, 0, 0, size, size);
    }
  }

  export const redraw = (): void => {
    setTimeout(() => {
      drawLogo();
    }, 300);
  };

  export const callbacks: CustomCanvas = {
    redraw() {
      setTimeout(() => {
        drawLogo();
      }, 300);
    },
    export(name: string, type: string) {
      downloadLink.download = name;
      downloadLink.href = canvas.toDataURL(type);
      downloadLink.click();
    },
  };

  onMount(() => {
    context = canvas.getContext('2d');
  });
</script>

<canvas bind:this={canvas} height={size} width={size} />
