<script lang="ts">
  import Icon from './Icon.svelte';
  export let onTitleChange: (e: any) => void;
  export let onColorChange: (e: any) => void;
  export let titleColor: string;

  let title: string;

  const updateTitle = (e: any) => {
    title = e.target.value;
    onTitleChange(e);
  };
</script>

<fieldset style="color:{titleColor}">
  <input type="text" title="Project title" placeholder="Add text..." on:change={updateTitle} />
  <input class:hidden={!title} type="color" title="Title Color" value={titleColor} on:change={onColorChange} />
  <div class="fakeColorInput" class:hidden={!title} data-testid="fake-color-picker" style="color: {titleColor}">
    <Icon name="droplet" />
  </div>
</fieldset>

<style>
  ::placeholder {
    color: white;
    opacity: 1;
    border-radius: 4px;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  fieldset {
    position: absolute;
    bottom: 18.5vw;
    display: flex;
    margin: 0;
    border: none;
    align-items: center;

    width: 100vw;
    padding: 0 17.5vw;
    box-sizing: border-box;
    left: 50vw;
  }

  input[type='text'] {
    flex: 1 1 50vw;
    width: 50vw;
    border-radius: 0;

    background: transparent;
    border: none;
    border-bottom: solid 1px transparent;
    color: inherit;

    font-family: var(--sans-serif);
    font-size: 7.5vw;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

    outline: none;
  }

  input[type='text']:focus {
    border-bottom-color: white;
  }

  input[type='text']:focus::placeholder {
    opacity: 0;
  }

  input[type='color'] {
    position: absolute;
    left: calc(50% - 3.25vw);
    top: 14vw;
    height: calc(7.5vw - 4px);
    width: calc(7.5vw - 4px);
    margin: 2px;
    padding: 0;

    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition-delay: 1.5s;
  }

  input[type='color'].hidden {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
  }

  .fakeColorInput {
    position: absolute;
    left: calc(50% - 3.25vw);
    top: 14vw;
    height: 7.5vw;
    width: 7.5vw;
    margin: 0;
    padding: 3px 5px 7px;
    border-radius: 4px;
    box-sizing: border-box;

    background: white;
    border: none;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.2);

    pointer-events: none;
    transition: opacity 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.75s,
      transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.75s;
  }

  .fakeColorInput :global(svg) {
    width: 100%;
    height: 100%;
    fill: currentColor;
    stroke: black;
    stroke-width: 1.5;
  }

  .fakeColorInput.hidden {
    transform: scale(0.2);
    opacity: 0;
    pointer-events: none;
  }

  @media all and (min-width: 900px) {
    fieldset {
      left: 0;
      width: calc(100vw - calc(var(--frame) * 4));
      bottom: 7.8vw;
      padding: 0 13vw;
    }

    input[type='text'] {
      font-size: 3vw;
    }

    input[type='color'] {
      top: 4.5vw;
      left: calc(50% - 1.25vw);
      width: calc(2.5vw - 4px);
      height: calc(2.5vw - 4px);
    }

    .fakeColorInput {
      top: 4.5vw;
      left: calc(50% - 1.25vw);
      width: 2.5vw;
      height: 2.5vw;
    }

    input[type='color']:focus-visible ~ .fakeColorInput {
      box-shadow: 0 0 0 4px var(--secondary-color-3);
    }
  }
</style>
