<p>
  <slot />
</p>

<style>
  p {
    margin: var(--frame) 0 0;
    color: var(--primary-color-9);
    font-family: var(--sans-serif);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.5rem;
  }

  p :global(strong) {
    font-weight: 800;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p :global(small) {
    color: var(--primary-color);
    font-size: 1rem;
    display: block;
  }

  @media all and (min-width: 900px) {
    p {
      font-size: 3.5rem;
      line-height: 1.5;
      max-width: 60vw;
    }

    p :global(small) {
      font-size: 2rem;
      line-height: 3;
    }
  }

  @media (prefers-color-scheme: dark) {
    :global(body:not(.light)) p :global(strong) {
      background: linear-gradient(225deg, var(--primary-color), var(--secondary-color));
      background-clip: text;
    }
  }

  :global(body.dark) p :global(strong) {
    background: linear-gradient(225deg, var(--primary-color), var(--secondary-color));
    background-clip: text;
  }
</style>
