<script lang="ts">
  import AppContent from './AppContent.svelte';
  import Footer from './Footer.svelte';
  import CallToAction from './core/CallToAction.svelte';
  import Logo from './core/Logo.svelte';
  import Tagline from './core/Tagline.svelte';
  import Title from './core/Title.svelte';
  import DarkModeToggle from './core/stickies/DarkModeToggle.svelte';
  import Scroller from './core/stickies/Scroller.svelte';
  import Icon from './components/Icon.svelte';
  import BackgroundBlurredBlob from './core/misc/BackgroundBlurredBlob.svelte';
  import BackgroundBlob from './core/misc/BackgroundBlob.svelte';
  import type { Dimensions } from './main';
  import { onMount } from 'svelte';

  export let dimensions: Dimensions;

  let initiate: () => void;

  const action = () => {
    initiate();
  };

  onMount(() => {
    // workaround for 100vh problem in iOS safari
    const setFullHeight = () => {
      document.documentElement.style.setProperty('--full-height', `${window.innerHeight}px`);
    };
    window.addEventListener('resize', setFullHeight);
    setFullHeight();
  });
</script>

<main>
  <section class="landing">
    <Title>
      <Logo />
      Manicure
    </Title>
    <section class="intro">
      <Tagline>
        <strong>Every project</strong> deserves pretty thumbnails.
        <small>Generate preview pics the easy way.</small>
      </Tagline>
      <CallToAction onclick={action}>
        <Icon fat name="upload" />
        Upload pics to get started
      </CallToAction>
    </section>
    <BackgroundBlurredBlob />
    <BackgroundBlob />
    <DarkModeToggle />
    <Scroller>Get started</Scroller>
  </section>
  <section class="content">
    <Title>
      <Logo />
      Manicure
    </Title>
    <AppContent bind:initiate {dimensions} />
  </section>
  <Footer author="Lena Schnedlitz" projectLink="https://gitlab.com/LenaSchnedlitz/manicure" />
</main>

<style>
  main {
    overflow: hidden;
  }

  .landing {
    position: relative;
    height: var(--full-height);
    background: linear-gradient(to top right, var(--primary-color-2), var(--primary-color-1));
    overflow: hidden;
  }

  .intro {
    position: absolute;
    z-index: 1;
    height: calc(100% - calc(var(--frame) * 6));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media all and (min-width: 900px) {
    .intro {
      top: calc(20vh + var(--frame));
      width: 100%;
      height: 60vh;
    }
  }

  .content {
    position: relative;
    min-height: var(--full-height);
  }
</style>
