<script lang="ts">
  import Button from './components/Button.svelte';
  import Icon from './components/Icon.svelte';
  import Appear from './components/helpers/Appear.svelte';
  import { onMount } from 'svelte';
  import { utils } from './utils';
  import type { Dimensions } from './main';
  import RectangleCanvas from './components/RectangleCanvas.svelte';
  import SquareCanvas from './components/SquareCanvas.svelte';
  import type { CustomCanvas } from './types';
  import Hidden from './components/helpers/Hidden.svelte';
  import FileUpload from './components/FileUpload.svelte';
  import Link from './components/Link.svelte';
  import TitleEditor from './components/TitleEditor.svelte';

  export let dimensions: Dimensions;

  const data = {
    logo: document.createElement('img'),
    background: document.createElement('img'),
    title: '',
    titleColor: '#ffffff',
  };
  const canvases: { [key: string]: CustomCanvas } = {};

  let redrawAll = () => {
    Object.keys(canvases).forEach((key) => canvases[key].redraw());
  };

  onMount(() => {
    document.body.addEventListener('dragover', (e) => {
      document.body.classList.add('dragArea');
      // stop browser from opening file
      e.stopPropagation();
      e.preventDefault();
    });

    document.body.addEventListener('dragleave', () => {
      document.body.classList.remove('dragArea');
    });

    window.addEventListener('drop', (e: DragEvent) => {
      document.body.classList.remove('dragArea');
      e.stopPropagation();
      e.preventDefault();

      handleFilesChange(e.dataTransfer.files);
      document.body.scrollTo(0, window.innerHeight);
    });
  });

  function handleFilesChange(files: FileList) {
    Array.from(files)
      // .filter(utils.isImageFile) TODO error handling
      .forEach((file) => {
        utils.readFile(file, (result) => {
          if (utils.isLogoFile(file)) {
            data.logo.src = result;
          } else {
            data.background.src = result;
          }
          redrawAll();
        });
      });
  }

  function handleTitleChange(newTitle: string) {
    data.title = newTitle;
    canvases.rectangle.redraw();
  }

  function handleColorChange(newColor: string) {
    data.titleColor = newColor;
    canvases.rectangle.redraw();
  }

  function downloadFiles() {
    canvases.rectangle.export('social.jpeg', 'image/jpeg');
    canvases.bigLogo.export(`logo-${dimensions.logoBig}.png`, 'image/png');
    canvases.smallLogo.export(`logo-${dimensions.logoSmall}.png`, 'image/png');
    canvases.favicon.export('favicon.png', 'image/png');
  }

  export const initiate: () => void = () => {
    const fileLoader = document.createElement('input');
    fileLoader.type = 'file';
    fileLoader.accept = [...utils.LOGO_FILE_TYPES, ...utils.BACKGROUND_FILE_TYPES].join();
    fileLoader.multiple = true;
    fileLoader.onchange = (e) => {
      handleFilesChange((e.target as any).files);
      document.body.scrollTo(0, window.innerHeight);
    };
    return fileLoader.click();
  };

  const completeProcess = () => {
    downloadFiles();
  };

  $: hasBackground = !!data.background.src;
  $: hasLogo = !!data.logo.src;
  $: finishHidden = !hasBackground && !hasLogo;
</script>

<div class="topRight" class:hidden={hasBackground}>
  <Link external href="https://www.pexels.com/search/background/?orientation=landscape&size=medium"
    >Need help finding backgrounds?</Link
  >
</div>

<section class="scrollSideways">
  <RectangleCanvas
    bind:callbacks={canvases.preview}
    dimensions={dimensions.rectangle}
    background={data.background}
    logo={data.logo}
    title=""
    titleColor={data.titleColor}
  />
  <div class="floatingButtons">
    <FileUpload
      primary={!hasBackground}
      accept={utils.BACKGROUND_FILE_TYPES.join()}
      onchange={(e) => handleFilesChange(e.target.files)}
    >
      {hasBackground ? 'Change' : 'Add'} background picture
    </FileUpload>
    <FileUpload
      primary={!hasLogo}
      accept={utils.LOGO_FILE_TYPES.join()}
      onchange={(e) => handleFilesChange(e.target.files)}
    >
      {hasLogo ? 'Change' : 'Add'} logo
    </FileUpload>
  </div>
  <div class:hidden={!hasBackground}>
    <TitleEditor
      onTitleChange={(e) => handleTitleChange(e.target.value)}
      onColorChange={(e) => handleColorChange(e.target.value)}
      titleColor={data.titleColor}
    />
  </div>
</section>

<Appear hidden={finishHidden}>
  <Button primary onclick={completeProcess}><Icon fat name="download" /> Download pics</Button>
</Appear>

<Hidden>
  <SquareCanvas bind:callbacks={canvases.bigLogo} framed logo={data.logo} size={dimensions.logoBig} />
  <SquareCanvas bind:callbacks={canvases.smallLogo} framed logo={data.logo} size={dimensions.logoSmall} />
  <SquareCanvas bind:callbacks={canvases.favicon} logo={data.logo} size={dimensions.favicon} />
  <RectangleCanvas bind:callbacks={canvases.rectangle} dimensions={dimensions.rectangle} {...data} />
</Hidden>

<style>
  section {
    position: relative;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 0.2s;
  }

  .topRight {
    width: 100vw;
    height: calc(var(--frame) * 2);
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .hidden {
    opacity: 0;
    pointer-events: none;
  }

  .hidden :global(*) {
    display: none;
  }

  .scrollSideways {
    overflow-x: auto;
    scroll-snap-type: x;
  }

  .floatingButtons {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 100vw;
    height: 60vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  @media all and (min-width: 900px) {
    section {
      width: 100vw;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .topRight {
      width: auto;
      margin: 0 calc(var(--frame) * 2);
      padding: 0;
    }

    .scrollSideways {
      margin: 0 calc(var(--frame) * 2);
      width: auto;
      overflow-x: hidden;
    }

    .floatingButtons {
      left: 0;
      width: 100%;
      height: 60%;
    }
  }
</style>
