<svg xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 1024 1024">
  <path
    d="M816.55 799.25C777.16 845.88 749.96 882.23 706.93 904.55 663.9 926.88 614.59 940.7 570.63 931.05 526.67 921.41 525.63 878.22 464.19 854.41 402.76 830.6 244.18 874.66 201.79 823.98 159.4 773.31 232.56 741.94 209.99 691.99 187.41 642.04 76.7 641.75 54.61 571.48 32.51 501.2 100.16 405.42 127.54 337.2 154.93 268.98 167.58 201.09 214.7 162.01 261.83 122.93 345.16 132.33 379.88 115.3 414.6 98.27 397.58 96.52 428.45 79.41 459.32 62.31 508.38 17.26 569.27 23.89 630.15 30.52 688.16 95.8 748.53 144.55c60.36 48.75 151.74 117.66 179.74 172.98 28 55.31 13.87 70.54 16.21 121.46 2.34 50.92 13.32 120.26-7.46 183.17-20.78 62.91-81.09 130.47-120.47 177.1z"
  />
</svg>

<style>
  svg {
    position: absolute;
    top: calc(var(--full-height) / -4);
    left: -25%;
    width: 150%;
    height: 150%;
    fill: var(--primary-color-1);
    animation: rotate 30s ease-in 0s infinite;
    filter: blur(16px);
    pointer-events: none;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media all and (min-width: 900px) {
    svg {
      filter: blur(32px);
    }
  }

  @media (prefers-color-scheme: dark) {
    :global(body:not(.light)) svg {
      fill: var(--primary-color-3);
    }
  }

  :global(body.dark) svg {
    fill: var(--primary-color-3);
  }
</style>
