<svg xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 1024 1024">
  <path
    d="m869.48 750.54c-30.85 44.62-72.46 79.99-118.89 111.47-46.43 31.48-98.34 62.21-157.17 73.71-58.83 11.5-129.19 4.26-185.81-9.77C350.99 911.9 303.05 891.85 258.88 857.09 214.71 822.33 178.79 768.8 151.11 721.3 123.43 673.8 102.19 630 92.41 576.2 82.63 522.39 86.19 461.07 96.66 404.65 107.13 348.24 123.53 289.98 154.6 241.99 185.68 194 228.33 154.52 277.66 124.15 326.98 93.79 386.53 74.51 444.68 65.08c58.15-9.42 120.67-11.24 176.26 3.28 55.59 14.51 104.12 45.53 148.44 79.59 44.32 34.07 84.2 75 114.08 121.91 29.89 46.91 53.6 98.2 62.21 154.74 8.61 56.54-0.87 120.88-14.08 175.79-13.21 54.91-31.27 105.52-62.12 150.14z"
  />
</svg>

<style>
  svg {
    position: absolute;
    top: calc(var(--full-height) / -4);
    left: -25%;
    width: 150%;
    height: 150%;
    fill: var(--primary-color-1);
    animation: rotate 30s ease-in 0s infinite;
    pointer-events: none;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-color-scheme: dark) {
    :global(body:not(.light)) svg {
      fill: var(--primary-color-2);
    }
  }

  :global(body.dark) svg {
    fill: var(--primary-color-2);
  }
</style>
